In [20]:
import pandas as pd
import numpy as np
df = pd.read_csv('1900_2021_disasters.csv')

In [21]:
df.head()

,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,...,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,Cabo Verde,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
1,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,India,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
2,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,Guatemala,...,NaN,NaN,NaN,NaN,25000.0,3.350513,NaN,NaN,NaN,NaN
3,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN
4,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN

In [22]:
def clean_data(df):
    # Drop unnecessary columns
    df = df.drop(columns=['Glide', 'Aid Contribution', 'OFDA Response', 'Appeal', 'Declaration', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless', 'Total Affected', "Insured Damages ('000 US$)", "Total Damages ('000 US$)", 'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations'])
    # Drop duplicate rows across all columns
    df = df.drop_duplicates()
    # Drop rows where 'Disaster Subgroup' is 'Biological'
    df = df[df["Disaster Subgroup"].str.contains("Biological") == False]
    return df

df_clean = clean_data(df.copy())
df_clean.head()

,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,ISO,...,Longitude,Local Time,River Basin,Start Year,Start Month,Start Day,End Year,End Month,End Day,CPI
0,1900,9002,Natural,Climatological,Drought,Drought,NaN,NaN,Cabo Verde,CPV,...,NaN,NaN,NaN,1900,NaN,NaN,1900,NaN,NaN,3.221647
1,1900,9001,Natural,Climatological,Drought,Drought,NaN,NaN,India,IND,...,NaN,NaN,NaN,1900,NaN,NaN,1900,NaN,NaN,3.221647
2,1902,12,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,Guatemala,GTM,...,-91,20:20,NaN,1902,4.0,18.0,1902,4.0,18.0,3.350513
3,1902,3,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,GTM,...,NaN,NaN,NaN,1902,4.0,8.0,1902,4.0,8.0,3.350513
4,1902,10,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,GTM,...,NaN,NaN,NaN,1902,10.0,24.0,1902,10.0,24.0,3.350513

In [23]:
df_clean.to_csv('/Users/emilydavies/Desktop/ExtremeWeather/clean_disasters.csv', index=False, header=True)